{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "browsers": ["last 2 versions", "not dead"]
        }
      }
    ],
    "@babel/preset-typescript"
  ]
}