.wonderland {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;


	canvas {
		width: 100%!important;
		height: 100%!important;
	}

	.test {
		position: absolute;
		left: 0;
		top: 0;
		opacity: 0.5;
	}

	.car-control {
		position: absolute;
		bottom: 72px;
		width: 70px;
		height: 50px;
		background: white;

		&.engine {
			left: 64px;
		}

		&.break {
			right: 64px;
		}
	}
	
}